@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}

.menuIcon{
    margin-left: 29px;
    width: 20px;
    height: 20px;
}

.logoIcon{
    margin-left: 25px;
    height: 30px;
    width: 142px;
}

.searchIcon{
    margin-left: 70px;
    height: 20px;
    width: 20px;
}

.searchText{
    margin-left:15px ;
    font-size: 20px;
    font-weight: 400;
}

.notificationIcon{
    margin-left: 880px;
    height: 22px;
    width: 22px;
}

.profile{
    height: 44px;
    width: 44px;
    margin-left: 53px;
}

.profileName{
    margin-left: 12px;
    font-weight: 400;
    font-size: 16px;
}

.downArrow{
    margin-left: 15px;
    width: 18px;
    height: 18px;
}

.dashboardBody{
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
}

.dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.sideNav{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
}

.sideNav p{
    font-weight: 400;
    font-size: 16px;
}

.dashboardLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
    border-radius: 5px;
}

.dashboardIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.analysisLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
    border-radius: 5px;
}

.analysisIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.inboxLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
    border-radius: 5px;
}

.inboxIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.historyLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
    border-radius: 5px;
}

.historyIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.usersLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
    border-radius: 5px;
}

.usersIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.maintenanceLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
    border-radius: 5px;
}

.maintenanceIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.settingLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
    border-radius: 5px;
}

.settingIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.dashboardLink:hover{
    background-color: #FFF3F4;
    color: #C8242F;
}
.analysisLink:hover{
    background-color: #FFF3F4;
    color: #C8242F;
}
.inboxLink:hover{
    background-color: #FFF3F4;
    color: #C8242F;
}
.historyLink:hover{
    background-color: #FFF3F4;
    color: #C8242F;
}
.usersLink:hover{
    background-color: #FFF3F4;
    color: #C8242F;
}
.maintenanceLink:hover{
    background-color: #FFF3F4;
    color: #C8242F;
}
.settingLink:hover{
    background-color: #FFF3F4;
    color: #C8242F;
}