@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}

.menuIcon{
    margin-left: 29px;
    width: 20px;
    height: 20px;
}

.logoIcon{
    margin-left: 25px;
    height: 30px;
    width: 142px;
}

.searchIcon{
    margin-left: 70px;
    height: 20px;
    width: 20px;
}

.searchText{
    margin-left:15px ;
    font-size: 20px;
    font-weight: 400;
}

.notificationIcon{
    margin-left: 880px;
    height: 22px;
    width: 22px;
}

.profile{
    height: 44px;
    width: 44px;
    margin-left: 53px;
}

.profileName{
    margin-left: 12px;
    font-weight: 400;
    font-size: 16px;
}

.downArrow{
    margin-left: 15px;
    width: 18px;
    height: 18px;
}

.sideNav{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: auto;
    align-items: center;
    padding-left: 22px;
    padding-top: 25px;
}

.sideNav p{
    font-weight: 400;
    font-size: 16px;
}

.dashboardLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
}

.dashboardIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.analysisLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
}

.analysisIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}

.inboxLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 183px;
}

.inboxIcon{
    margin-left: 18px;
    margin-right: 13px;
    height: 20px;
    width: 20px;
}